.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 2px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    margin:0px auto;
    color:floralwhite;
    max-height: 765px;
    background-image: url(http://i.imgur.com/Qbjy2VI.jpg?1);
    text-align: center;

}
.jumbotron p {
    color: black;
}

.background {
    background-image: url(http://i.imgur.com/Qbjy2VI.jpg?1) ;
    color: #19194d;
    font-size: 16px;
    padding: 20px 0px 20px 0px;
    width: 1680px;
    height: 700px;

}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    background-color: floralwhite;
    padding: 2px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background: #0066ff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #0033cc;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #0033cc;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #0066ff;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;

        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel {
    background: #000066;
}
.carousel .item {
  height: 750px;
}
.item .back {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 750px;
}

.carousel-caption {
    height: 650px;
}
.carousel-caption h2 {
    font-size: 100px;
    padding-bottom: 100px;

}

.carousel-caption p {
    font-size: 20px;
    padding-bottom: 100px;
}

.carousel-caption #hershal {
    position: absolute;
    margin-top: 25px;
    left: 33%;
}



